@keyframes loader{
	0%{
	}
	25%{
		transform:rotate(90deg);
	}
	50%{
		transform:rotate(180deg);
	}
	75%{
		transform:rotate(270deg);
	}
	100%{
		transform:rotate(360deg);
    }
}

.home,.new-campaign-page,.show-campaigns,.requests,.new-request{
    display: flex;
    flex-direction: column;
    margin: 1vh 9vw;
    font-family: 'Roboto', sans-serif;
}

.home>h2,.new-campaign-page>h2,.new-campaign-page>h3,.show-campaigns>h2,.requests>h2,.new-request>h2{
    margin: 32px 8px;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.new-campaign-page>h3{
    font-size: 18px;
    margin-top: 0px;
}

.new-campaign-page>form{
    margin: 8px;
}

.show-campaigns-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.show-campaigns-main>form{
    width: 25vw;
}

.card-grid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}

.card-row{
    width: 42vw;
    padding: 8px 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    margin-right: 32px;
}

.card{
    border: 1px solid #d3d3d3;
    padding: 8px 16px;
    border-radius: 4px;
    width: 18vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.card>h1{
    font-size: 20px;
    max-width: 17vw;
    word-wrap: break-word;
}

.card>p,.show-campaigns-main>form>p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgba(0,0,0,0.7);
}

.show-campaigns-main>form>p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.first-p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
}

.input-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.input-box-new{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
}

.input-box-new>p{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
}

.input-box>input,.input-box-new>input{
    width: 90%;
    height: 4vh;
    padding: 4px 8px;
    font-size: 16px;
    border-left: 2px solid #d3d3d3;
    border-top: 2px solid #d3d3d3;
    border-bottom: 2px solid #d3d3d3;
    border-radius: 4px;
    outline: none;
    margin-bottom: 16px;
}

.input-box>div{
    margin: 0;
    margin-top: -1.5vh;
    margin-left: -0.5vw;
    height: 5vh;
    border: 2px solid #d3d3d3;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #d3d3d3;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.link-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.new-campaign-page>form>.button,.show-campaigns-main>form>.button,.show-campaigns-main>.card-grid>a>.button,.requests>.link-container>a>.button,.new-request>form>.input-box-new>.button{
    color: white;
    background: #3b5998;
    border: 1px solid #3b5998;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 7vw;
    align-items: center;
    cursor: pointer;
}

.show-campaigns-main>.card-grid>a>.button{
    margin: 32px 8px;
    width: 10vw;
}

.button>p{
    padding: 0 0;
    margin: 0 0;
}

.new-campaign-page>form>input:focus,.new-campaign-page>form>input:active{
    border: 2px solid #3b5998;
}

.error-message{
    background: rgba(255,0,0,0.3);
    border: 2px solid #ff0000;
    padding: 16px 32px;
    color: #ff0000;
    border-radius: 4px;
    font-size: 18px;
    margin-bottom: 16px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    border-radius: 4px;
    margin-top: 1vh;
}

.right-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.header{
    border: 2px solid #d3d3d3
}

.left-nav>a{
    padding: 8px 16px;
    border-right: 2px solid #d3d3d3;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.left-nav>a:hover,.right-nav>a:hover{
    background: #d3d3d3;
}

.right-nav>a{
    padding: 8px 16px;
    border-left: 2px solid #d3d3d3;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.main-body{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.main-body-left{
    width: 60vw;
}

.loader-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height:40vh;
}

.list{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 800;
    padding: 16px 32px;
    border: 2px solid #d3d3d3;
    border-radius: 4px;
    display: flex;
    flex-direction: column
}

.list>a>p{
    margin: 0;
    padding:0;
}

.list>a{
    color: #3b5998;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 0px;
    text-decoration: none;
    font-weight: 500;
    width: 7vw
}

.main-body-right{
    background: #3b5998;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 32px;
    border-radius: 8px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 32px;
    cursor: pointer
}

a{
    text-decoration: none
}

.plus-border{
    background: #d3d3d3;
    color: #3b5998;
    padding: 3px 7.5px;
    font-size: 14px;
    border-radius: 24px;
    margin-right: 16px;
}

.loader{
	width:20px;
	height:20px;
	border-radius: 150px;
	border-top:4px solid #d3d3d3;
	border-left:4px solid #3b5960;
	border-right:4px solid #3b5960;
	border-bottom:4px solid #3b5960;
	animation-name: loader;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-timing-function: linear;
}

.requests>table{
    margin-top: 2vh;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}

.requests>table>tr{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 16px;
    border-top: 1px solid #d3d3d3;
}

.requests>table>tr:nth-child(1){
    border-top: none;
}

.requests>table>tr:nth-child(even){
    background: #f9f7f7;
}

.requests>table>tr>th{
    font-size: 18px;
    letter-spacing: 0.3px;
}

.requests>table>tr>td,.requests>table>tr>th{
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

.one{
    width:5%;
}

.two{
    width: 20%;
}

.three{
    width:8%;
}

.four{
    width:30%;
}

.five{
    width: 14%;
}

.six{
    width: 12%
}

.seven{
    width: 12%    
}


.requests>table>tr>td>p{
    word-wrap: break-word;
    color: #000;
    font-size: 16px;
    font-weight: 550;
}

.requests>table>tr>td:hover{
    color: teal;
}

.table-button{
    color: green;
    border: 1px solid green;
    padding: 0px 32px;
    border-radius: 8px;
    cursor: pointer
}

.table-button:hover{
    background: green;
    color: white;
}

.table-button-two{
    color: teal;
    border: 1px solid teal;
}

.table-button-two:hover{
    background: teal;
    color: white;
}

.loader-container{
    width: 60vw;
    margin: 1vh 9vw;
    display: flex;
    justify-content: center;
}

.modified>p{
    color: #a9a9a9;
}